<div class= "en_top_message">
  The support site of travel in japan
</div>
<div	class= "select_login">
  <%#= link_to () do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>
	<%#= link_to () do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>
	<%#= link_to () do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>

</div>