<div class= "ja_top_message">
  支援日本的旅途的web网站
</div>
<div	class= "select_login">
  <%#= link_to (ja_language_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>
	<%#= link_to (zh_session_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>
	<%#= link_to (zh_language_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <%# end %>
</div>